/* TDS STYLES
------------------------------------------*/
/* variables.scss
==========================================*/
.tds-orange {
  color: #f37d1d;
}

.tds-blue {
  color: #19388a;
}

.tds-lt-blue {
  color: #0c8fd0;
}

.tds-green {
  color: #7bb227;
}

/* END variables.scss */
/* fonts.scss
==========================================*/
@font-face {
  font-family: 'tex_gyre_adventorregular';
  src: url("../fonts/tds-fonts/texgyreadventor-regular-webfont.eot");
  src: url("../fonts/tds-fonts/texgyreadventor-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tds-fonts/texgyreadventor-regular-webfont.woff2") format("woff2"), url("../fonts/tds-fonts/texgyreadventor-regular-webfont.woff") format("woff"), url("../fonts/tds-fonts/texgyreadventor-regular-webfont.ttf") format("truetype"), url("../fonts/tds-fonts/texgyreadventor-regular-webfont.svg#tex_gyre_adventorregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tex_gyre_adventoritalic';
  src: url("../fonts/tds-fonts/texgyreadventor-italic-webfont.eot");
  src: url("../fonts/tds-fonts/texgyreadventor-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tds-fonts/texgyreadventor-italic-webfont.woff2") format("woff2"), url("../fonts/tds-fonts/texgyreadventor-italic-webfont.woff") format("woff"), url("../fonts/tds-fonts/texgyreadventor-italic-webfont.ttf") format("truetype"), url("../fonts/tds-fonts/texgyreadventor-italic-webfont.svg#tex_gyre_adventoritalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'tex_gyre_adventorbold';
  src: url("../fonts/tds-fonts/texgyreadventor-bold-webfont.eot");
  src: url("../fonts/tds-fonts/texgyreadventor-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tds-fonts/texgyreadventor-bold-webfont.woff2") format("woff2"), url("../fonts/tds-fonts/texgyreadventor-bold-webfont.woff") format("woff"), url("../fonts/tds-fonts/texgyreadventor-bold-webfont.ttf") format("truetype"), url("../fonts/tds-fonts/texgyreadventor-bold-webfont.svg#tex_gyre_adventorbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tex_gyre_adventorbold_italic';
  src: url("../fonts/tds-fonts/texgyreadventor-bolditalic-webfont.eot");
  src: url("../fonts/tds-fonts/texgyreadventor-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tds-fonts/texgyreadventor-bolditalic-webfont.woff2") format("woff2"), url("../fonts/tds-fonts/texgyreadventor-bolditalic-webfont.woff") format("woff"), url("../fonts/tds-fonts/texgyreadventor-bolditalic-webfont.ttf") format("truetype"), url("../fonts/tds-fonts/texgyreadventor-bolditalic-webfont.svg#tex_gyre_adventorbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

/* END fonts.scss */
/* layout
==========================================*/
.tds-width-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  padding: 0 16px;
}

/* END layout.scss */
/* typography.scss
==========================================*/
body {
  font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4,
button {
  font-family: "ITC Avant Garde Gothic W01", "Century Gothic", Arial, serif;
  margin-bottom: 20px;
}

.h1,
h1 {
  font-size: 36px;
  color: #19388A;
}

.h2,
h2 {
  font-size: 28px;
  color: #19388A;
}

@media (max-width: 584px) {
  h2 {
    font-size: 24px;
  }
}

.h3,
h3 {
  font-size: 24px;
  color: #0C8FD0;
}

.h4,
h4 {
  color: #19388A;
  margin-bottom: 20px;
}

.h5,
h5 {
  color: #0C8FD0;
  margin-bottom: 20px;
}

.h6,
h6 {
  color: #000;
  margin-bottom: 20px;
}

@media (max-width: 584px) {
  h2 {
    font-size: 21px;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

p {
  line-height: 1.65em;
  font-size: 14px;
  margin: 0 0 10px;
  color: #555555;
}

a {
  color: #0C8FD0;
  text-decoration: underline;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #19388A;
}

a strong {
  color: inherit;
}

.tds-note {
  font-size: 11px;
  font-style: italic;
}

.tds-emphasize {
  font-size: 18px;
  font-weight: 500;
}

.inline-block {
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}

.is-emphasized {
  font-size: 18px;
  color: #0c8fd0;
  margin-top: 12px;
}

/* END typography.scss */
